{% trans_default_domain 'user_bundle' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    
    <body>
        <main>
            {% block message %}
                {% for msg in app.session.flashBag.get('error') %}
                <div>
                    {{ msg | trans}}
                </div>
                {% endfor %}
                {% for msg in app.session.flashBag.get('success') %}
                <div>
                    {{ msg | trans}}
                </div>
                {% endfor %}
            {% endblock message %}
            <div>
                {% block user_content %}{% endblock user_content %}
            </div>
        <main>
    </body>
</html>
