{% trans_default_domain 'user_bundle' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    
    <body>
        <main>
            {% block message %}
                {{ include('@User/user/_messages.html.twig') }}
            {% endblock message %}
            <div>
                {% block user_content %}{% endblock user_content %}
            </div>
        <main>
    </body>
</html>
