{% extends "@User/layout.html.twig" %}
{% trans_default_domain 'user_bundle' %}

{% block title %}List Users{% endblock %}

{% block user_content %}
    <main>
		<div>
			{% if users is defined and users|length > 0 %}
				{{ include('@User/user/_list.html.twig', {'users': users})}}
			{% else %}
				<div>{{"messages.results0" | trans }}</div>
			{% endif %}
            <span><a href="{{ path ('admin_user_new') }}"><i>{{ "btn.user.new" | trans }}</i></a></span>
		</div>
    </main>
{% endblock user_content %}